<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Recipes</h1>
    </div>
  </div>
  
  <%= link_to "Add recipe", new_recipe_path %><br>
  
  <% @recipes.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %>
  
  <% end %>
  
  
</div>