<div class="container">
  <div class="row head">
    <div class="col-md-2">
      <h1 class="heading">Recipes I can make now</h1>
      <p class="top-button"><%= link_to "Hypothetical Make now", recipes_hypothetical_make_now_path, class: "btn btn-default"  %></p>
      <p class="top-button"><%= link_to "Back to recipes", recipes_path, class: "btn btn-default"  %></p>
    </div>
  </div>
  
  <div class="col-md-8">
    <table class="table">
      <% @recipes.each do |recipe| %>
        <td>
          <img class="center-block" style="width: 100px;", src="<%= recipe.picture_url %>">
          <%= link_to recipe.name, recipe_path(recipe) %>
        </td>
      <% end %>
    </table>
  </div>
 </div> 
  
