@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url("background.jpg"); 
}

.table {
  background-color: #b9e9f9;
  width: 40em;
  text-align: center;
  margin: 0 auto !important;
  float: none !important;
  color: #022F40;
  border-radius: 5px;
  border: 1px solid #113537;
  
  td { 
     border-top: none !important; 
 }
}

.btn {
  background-color: #113537;
  color: #EEEBD3;
  border: none;
  &:hover {
    background-color: #b9e9f9;
    color:  #113537;
    border: 1px #113537 solid;
  }
}

.btn-primary {
  background-color: #b9e9f9;
 
  border: 1px #113537 solid;
  color: #022F40;
  font-weight: bold;
  &:hover {
    background-color: #113537;
    color:  #b9e9f9;
  }
}

.head {
  margin: 20px 20px 40px 20px;  
}

.heading{
  color: white;
  float: left;
}

.top-button {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

.catalogue-flash {
  text-align: center;
  background-color: #c0392b;
  color: white;
}

.title {
  text-align: center;
  color: white;
}

.container {
  margin-bottom: 30px;
}

.devise-links {
  color: white;
}

label {
  color: #b9e9f9;
}
