@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #16a085;
}

.table {
  background-color: #a5f3e3;
  width: 40em;
  text-align: center;
  margin: 0 auto !important;
  float: none !important;
  border-radius: 4px;
}

.head {
  margin: 20px 20px 40px 20px;  
}

.heading{
  color: white;
  float: left;
}

.top-button {
  float: right;
  margin-top: 20px;
  margin-right: 5px;
}

.catalogue-flash {
  text-align: center;
  background-color: #c0392b;
  color: white;
}

.title {
  text-align: center;
  color: white;
}
