// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.ingredient-title {
  text-align: center;
  color: white;
}

.ingredients {
  margin-bottom: 50px;
}

.instructions {
  background-color: #b9e9f9;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 720px;
  border: 1px solid #113537;
  border-radius: 5px;
  padding: 8px;
}

.recipe-image {
  width: 300px;
  height: auto;
  margin: 0 auto;
}

.table-recipe {
  height: 150px;
  width: 200px;
  text-align: center;
  margin-bottom: 10px;
  background-color: #b9e9f9;
  padding: 15px;
  border-radius: 5px;
  a {
    color: #36454f;
    font-weight: bold;
  }
  img {
    height: 100px;
  width: 100px;
  object-fit: cover;
  margin-bottom: 8px;
  border-radius: 5px;
  border: gray 1px solid;
  }
}


